# Twitter Demo

This is a primer for understanding how to connect to Twitter and Fetch Tweet-data.

Learning Objectives:
1. How to connect to your Twitter Developer account.
2. Verifying credentials and accessing your own information.
3. Fetching tweets using search terms and parameters.
4. Streaming Live Tweets.

Important: You will need to apply for a Twitter developer account before you can begin with this demo.

>You can apply for the Twitter developer account here: https://developer.twitter.com/en

Twitter Developer Account Guide is provided to you to help you set up a developer account and to find the important keys.

--------------------------------------------------

### Making a Connection
Once the Twitter developer account is all set. We will import tweepy, the python library that handles everything Twitter-related.


If you do not have tweepy installed, you can do so by running the following in a cell of this Jupyter Notebook: 
>pip install tweepy

In [1]:
import tweepy

#These will be found on your Twitter Developer Account. These are your personal keys and should not be shared with anyone else.

consumer_key = 'shiWJ7w4lf4CAiEBWqd3bPTwf'
consumer_secret = 'xu8MX2TpBAL6v5Ivvx2sqa2P9WfELkLlDRUCzfpjTsdlvsyiAy'
access_token = '1225732863250911232-7fd9D0FHaRcgCyPmRoFcbypmv462fQ'
access_token_secret = '0oXBAmOfCEX6p2TTzXSX0pnQlANvSZtpus2M24h9fM56q'

In [2]:


#Creating a variable calling Authentication Handler and passing all of the keys from above as arguments.
auth = tweepy.OAuth1UserHandler(
  consumer_key, 
  consumer_secret, 
  access_token, 
  access_token_secret
)

#Connecting to Twitter API by passing the variable created above that contains all the keys.
api = tweepy.API(auth)

--------------------------------

### Verifying Credentials

Obviously, you don't want to connect to someone else's account mistakenly. So now since the connection has been made, you can verify your credentials by running the following cells.

In [3]:
#Accessing and Storing Credentials
me = api.verify_credentials()

In [4]:
#Your Twitter ID
me.id

1225732863250911232

In [5]:
#Your Screen Name
me.screen_name

'Renad_alah'

In [6]:
#Your Followers' Count
me.followers_count

100

In [7]:
#Your Description
me.description

'Computer Science , interested in AI & Data Science'

In [8]:
#Your Location
me.location

''

In [9]:
#The date you created your account
me.created_at

datetime.datetime(2020, 2, 7, 10, 47, 51, tzinfo=datetime.timezone.utc)

--------------------------------

### Fetching Tweet-Data

Very simply we will set our parameters for searching tweets. Then we will loop through all the tweets one by one.

Here you can find more parameters to help you search tweets: https://docs.tweepy.org/en/stable/api.html#search-tweets

In [28]:
#Here we will create an empty list so that we can add and store tweets into it.
extracted_tweets = []

#Note that previously we separated this section in two parts. 
#One was to initialize the search terms and operators, etc. before (two) looping through.
#But here we are doing that within the loop itself.

for status in tweepy.Cursor(api.search_tweets, 
                            "bitcoin price", 
                            lang="en").items(50): #using items here
    extracted_tweets.append(status)

In [29]:
len(extracted_tweets)

50

In [38]:
import pandas as pd
# We create a pandas dataframe as follows:
data = pd.DataFrame(data=[tweet.text for tweet in extracted_tweets], columns=['Tweets'])

# We display the first 10 elements of the dataframe:
display(data.head(10))

                                              Tweets
0  #Ethereum price update: \n\n#ETH $1296.71 USD\...
1  #BinanceCoin price update: $BNB\n\n#BNB $296.0...
2               Current #Bitcoin price is $17,324.05
3  @lopp Inflation is usually measured against a ...
4  RT @seth_fin: ðŸ’µðŸ’µðŸ’µðŸ’µðŸ’µ\nWill this time be differe...
5  @jasonpizzino Do you not believe SPX500 will t...
6  Crypto News: CRO Price (Cronos) Pumps Over 12%...
7  #Ethereum price update: \n\n#ETH $1297.42 USD\...
8  forklog: mike novogratz repeated his predictio...
9  #Ethereum price update: \n\n#ETH $1296.6 USD\n...

In [39]:
import numpy as np
# We add relevant data:
data['len']  = np.array([len(tweet.text) for tweet in extracted_tweets])
data['ID']   = np.array([tweet.id for tweet in extracted_tweets])
data['Date'] = np.array([tweet.created_at for tweet in extracted_tweets])
data['Source'] = np.array([tweet.source for tweet in extracted_tweets])
data['Likes']  = np.array([tweet.favorite_count for tweet in extracted_tweets])
data['RTs']    = np.array([tweet.retweet_count for tweet in extracted_tweets])

In [40]:
# Display of first 10 elements from dataframe:
display(data.head(10))

,Tweets,len,ID,Date,Source,Likes,RTs
0,#Ethereum price update: \n\n#ETH $1296.71 USD\...,140,1599670453986988032,2022-12-05 07:42:11+00:00,Twitter Web App,0,0
1,#BinanceCoin price update: $BNB\n\n#BNB $296.0...,137,1599670452376723461,2022-12-05 07:42:10+00:00,Twitter Web App,0,0
2,"Current #Bitcoin price is $17,324.05",36,1599670316204232704,2022-12-05 07:41:38+00:00,Crypto live price,0,0
3,@lopp Inflation is usually measured against a ...,140,1599670258201083905,2022-12-05 07:41:24+00:00,Twitter for Android,0,0
4,RT @seth_fin: ðŸ’µðŸ’µðŸ’µðŸ’µðŸ’µ\nWill this time be differe...,140,1599670257949736962,2022-12-05 07:41:24+00:00,Twitter for Android,0,105
5,@jasonpizzino Do you not believe SPX500 will t...,106,1599670255659253760,2022-12-05 07:41:24+00:00,Twitter Web App,0,0
6,Crypto News: CRO Price (Cronos) Pumps Over 12%...,118,1599670207034761217,2022-12-05 07:41:12+00:00,Raishiz News,0,0
7,#Ethereum price update: \n\n#ETH $1297.42 USD\...,139,1599670199308849152,2022-12-05 07:41:10+00:00,Twitter Web App,0,0
8,forklog: mike novogratz repeated his predictio...,110,1599670104060416000,2022-12-05 07:40:47+00:00,thecryptofeed_all,0,0
9,#Ethereum price update: \n\n#ETH $1296.6 USD\n...,139,1599669944601706496,2022-12-05 07:40:09+00:00,Twitter Web App,0,0

In [24]:
import re
def clean_tweet(tweet):
    '''
    Utility function to clean the text in a tweet by removing
    links and special characters using regex.
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+.)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|RT", " ", tweet).split())

In [25]:
# Cleaning the Tweets from special characters

data['Tweets'] = np.array([ clean_tweet(tweet) for tweet in data['Tweets'] ])
# We display the updated dataframe with the new column:
display(data.head(10))

,Tweets,len,ID,Date,Source,Likes,RTs
0,Bitcoin Price and Ethereum Back above 17 000 a...,140,1599665151203938304,2022-12-05 07:21:07+00:00,Twitter Web App,0,0
1,Real estate could bring you cash flow If your ...,140,1599665126109368320,2022-12-05 07:21:01+00:00,Twitter for iPhone,0,2
2,Ethereum price update ETH 1294 83 USD Bitcoin ...,139,1599665115212972032,2022-12-05 07:20:58+00:00,Twitter Web App,0,0
3,Bitcoin on log log chart still looks linear Bi...,140,1599665103506313216,2022-12-05 07:20:55+00:00,Twitter for iPhone,0,29
4,Bitcoin Last Price 17305 BTC Daily Indicators ...,140,1599664958769340416,2022-12-05 07:20:21+00:00,vaiotapi,0,0
5,Current Bitcoin Price is 17308 BTC Crypto,45,1599664952045813761,2022-12-05 07:20:19+00:00,IAmBitcoinBot,0,0
6,CHESSUSDT CHESS Signal 1 Last Signal N A Befor...,140,1599664875575382017,2022-12-05 07:20:01+00:00,MT4 to Twitter,1,0
7,BinanceCoin price update BNB BNB 295 47 USD Bi...,137,1599664863646605312,2022-12-05 07:19:58+00:00,Twitter Web App,0,0
8,Ethereum price update ETH 1295 77 USD Bitcoin ...,140,1599664860609925120,2022-12-05 07:19:57+00:00,Twitter Web App,0,0
9,The price of Bitcoin is 17307 825 And it chang...,81,1599664826460110848,2022-12-05 07:19:49+00:00,IAE101_TB_Project_Fall2022_G1,0,0

In [41]:
def find_numbers(text):
    text = re.findall(r"[-+]?(?:\d*\.\d+|\d+)", text)
    return text

In [42]:
# Cleaning the Tweets from special characters

data['Price'] = np.array([ find_numbers(tweet) for tweet in data['Tweets'] ])
# We display the updated dataframe with the new column:
display(data.head(10))

<ipython-input-42-ccfe9fdba21f>:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data['Price'] = np.array([ find_numbers(tweet) for tweet in data['Tweets'] ])

,Tweets,len,ID,Date,Source,Likes,RTs,Price
0,#Ethereum price update: \n\n#ETH $1296.71 USD\...,140,1599670453986988032,2022-12-05 07:42:11+00:00,Twitter Web App,0,0,"[1296.71, 0.07486095]"
1,#BinanceCoin price update: $BNB\n\n#BNB $296.0...,137,1599670452376723461,2022-12-05 07:42:10+00:00,Twitter Web App,0,0,"[296.09, 0.01708, 0.22821, 77, 3]"
2,"Current #Bitcoin price is $17,324.05",36,1599670316204232704,2022-12-05 07:41:38+00:00,Crypto live price,0,0,"[17, 324.05]"
3,@lopp Inflation is usually measured against a ...,140,1599670258201083905,2022-12-05 07:41:24+00:00,Twitter for Android,0,0,[0]
4,RT @seth_fin: ðŸ’µðŸ’µðŸ’µðŸ’µðŸ’µ\nWill this time be differe...,140,1599670257949736962,2022-12-05 07:41:24+00:00,Twitter for Android,0,105,[2024]
5,@jasonpizzino Do you not believe SPX500 will t...,106,1599670255659253760,2022-12-05 07:41:24+00:00,Twitter Web App,0,0,[500]
6,Crypto News: CRO Price (Cronos) Pumps Over 12%...,118,1599670207034761217,2022-12-05 07:41:12+00:00,Raishiz News,0,0,[12]
7,#Ethereum price update: \n\n#ETH $1297.42 USD\...,139,1599670199308849152,2022-12-05 07:41:10+00:00,Twitter Web App,0,0,"[1297.42, 0.07483502114255754, 5, 7, 3]"
8,forklog: mike novogratz repeated his predictio...,110,1599670104060416000,2022-12-05 07:40:47+00:00,thecryptofeed_all,0,0,"[500, 000]"
9,#Ethereum price update: \n\n#ETH $1296.6 USD\n...,139,1599669944601706496,2022-12-05 07:40:09+00:00,Twitter Web App,0,0,"[1296.6, 0.07486089]"